<div class="topic" id="contacts">
    <div class="c">
        <h2>Contact Us</h2>
        <ul class="c2">
            <li>
                <div>
                    <h5>We are @</h5>
                    <p>
                        {{ site.address }}
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <h5>Contact Information</h5>
                    <p>
                        {{ site.phone }}<br />
                        Email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>