<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div id="main">
        {% include header.html %}
        <div id="container" class="cd-main-content">
            <div class="c">
                <form action="" id="itglee-form">
                    <div class="grid2">
                        <div class="col1"><label for="form-email">Email</label><input type="email" name="email" id="form-email"></div>
                        <div class="col1"><label for="form-name">Name</label><input type="text" name="name" id="form-name"></div>
                        <div class="col2"><label for="form-description">Tell us about yourself</label><textarea name="description" id="form-description" rows="5" cols="50"></textarea></div>
                        <div class="col2"><label for="form-file">Select a file</label><input type="file" name="cv" id="form-file"></div>
                    </div>
                    <button type="submit">Apply</button>
                </form>
            </div>
        </div>

        {% include footer.html %}

        <script type="text/javascript">
            (function () {
                initNav(); setupForm();
            })();
        </script>
    </div>
</body>

</html>