<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="main">
            {% include header.html %}
            <div id="container" class="cd-main-content">
                {% include banner.html %}
                {% include service.html %}
                {% include partners.html %}
                {% include about_us.html %}
                {% include contact_us.html %}
            </div>
        
            {% include footer.html %}
        
            <script type="text/javascript">
                (function () {
                    initNav();
                })();
            </script>
        </div>
    </body>
</html>